<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwei.sso.mapper.PermGroupMapper">
  <resultMap id="BaseResultMap" type="com.tongwei.sso.model.PermGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="ord" jdbcType="INTEGER" property="order" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    
  </resultMap>
  
  
</mapper>