<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwei.sso.mapper.UserGroupMapper">
	
	<resultMap id="ugSelfMap" type="com.tongwei.auth.model.UserGroup">
	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="code" jdbcType="VARCHAR" property="code" />
	    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
	    <result column="ord" jdbcType="INTEGER" property="ord" />
	    <association property="parentGroup" select="selfUG" column="parent_id" />
	</resultMap>
	
	<select id="selfUG" parameterType="int" resultMap="ugSelfMap">
		select o.* from ts_user_group o 
		where o.id=#{parent_id}
	</select>
	
	<select id="getUgById" resultMap="ugSelfMap">
		select o.* from ts_user_group o
		where o.id=#{id}
		order by ord asc
	</select>
	
	
</mapper>